@for $i from 1 through $num-columns {
    .col--#{$i} {
        width: ((100/$num-columns)*$i)*1%;
        float: left;
        padding-top: 10px;
        padding-bottom: 10px;
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }

    .offset--#{$i} {
        margin-left: ((100/$num-columns)*$i)*1%;
    }
}

.row:after {
    content: "";
    clear: both;
    display: block;
}

.border {
    border: 1px solid grey;
    height: 770px;
}

.main-menu {
    background-color: grey;
    width: 100%;
}

@media (max-width: 499px) {
    .main-menu__item {
        float: none;
        display: none;
    }
    
    .main-menu__hamburger {
        display: inline-block;
    }
    
    .main-menu {
        
    }
    
    .main-menu__item-visible {
        display: list-item;
    }
    
    .main-menu__item-hide {
        display: none;
    }
}

@media (min-width: 500px) {
    .main-menu__item {
        float: left;
        display: list-item;
    }
    
    .main-menu__hamburger {
        display: none;
    }
    
    .main-menu {
        display: inline-block;
    }
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}